<!--site_wrapper-->
<div class="site_wrapper">
  <div class="inner_wrapper">
    <div class="login_wrapper">
      <h1 class="title_tag">
        {{ 'Reset Your Password' | translate }} ?<span>{{ 'Reset here' | translate }}</span>
      </h1>

      <div class="login_banner">
        <h3>{{ 'Welcome Back' | translate }}</h3>
      </div>

      <form autocomplete="off" class="mt-2 needs-validation" [formGroup]="resetForm" (ngSubmit)="resetPassword()">
        <section>
          <article class="reset_article">
            <input
              (change)="paswd($event)"
              type="password"
              class="form-control"
              id="password"
              placeholder="{{ 'Password' | translate }}"
              formControlName="password"
              [ngClass]="{ 'is-invalid': f['password'].touched && f['password'].errors }"
              autocomplete="off"
            />
            <div style="clear: both"></div>
            <div *ngIf="f['password'].touched && f['password'].errors" class="invalid-feedback invalid-bg">
              <div style="margin: 0 0 0 140px" *ngIf="f['password'].touched && f['password']['errors']['required']">
                {{ 'Password is required' | translate }}
              </div>
              <div style="margin: 0 0 0 140px" *ngIf="f['password']['errors']['minlength']">
                {{ 'Password must be at least 6 characters' | translate }}
              </div>
              <div style="margin: 0 0 0 140px" *ngIf="f['password']['errors']['maxlength']">
                {{ 'Password must be at least 6 characters' | translate }}
              </div>
            </div>
          </article>
          <br />
          <article class="reset_article">
            <input
              (change)="confirmPaswd($event)"
              type="password"
              class="form-control"
              id="confirmpassword"
              placeholder="{{ 'Confirm Password' | translate }}"
              formControlName="confirmpassword"
              [ngClass]="{ 'is-invalid': f['confirmpassword'].touched && f['confirmpassword'].errors }"
              autocomplete="off"
            />
            <div style="clear: both"></div>
            <div
              *ngIf="f['confirmpassword'].touched && f['confirmpassword'].errors"
              class="invalid-feedback invalid-bg"
            >
              <div
                style="margin: 0 0 0 140px"
                *ngIf="f['confirmpassword'].touched && f['confirmpassword']['errors']['required']"
              >
                {{ 'Confirm Password is required' | translate }}
              </div>
            </div>
          </article>
          <p style="margin: 0 0 0 173px" class="small text-danger font-italic" [innerHtml]="msgAlert"></p>

          <!-- <p>Forgot your password? <a href="#">click here</a></p> -->

          <div class="login_btn">
            <button type="submit">{{ 'Reset Password' | translate }}</button>
          </div>
        </section>
      </form>
    </div>
  </div>
  <!--inner_wrapper-->
</div>
<!--site_wrapper_END-->
<p>reset-password works!</p>
