<!--site_wrapper-->
<div class="site_wrapper">
  <div class="inner_wrapper">
    <div class="faq_wrapper">
      <h1>
        {{ 'At the audition - how does it work out with the actors who are already with agents?' | translate }}
      </h1>

      <section class="faq_banner">
        <h3>
          <span>{{ 'FAQ' | translate: { name: 'FAQ' } }}</span>
        </h3>
      </section>

      <section class="faq_list" *ngIf="en && enLanguage">
        <article>
          <p>
            {{
              'Case by case,There are players who work with their agency completely exclusively There are actors who work part-time with their agency Any agreement between a player and an agent is accepted and respected by a third party organization, it must be remembered that the goal at the end of the day is to combine Players in a small labor market that has existed for decades. It is important for us to integrate into an existing system, so we will move forward Players according to the accepted and widespread behavior in the market'
                | translate
            }}.
          </p>
        </article>

        <article>
          <h5>{{ 'What is the monthly membership fee collection based on?' | translate }}</h5>
          <ol type="i">
            <li>{{ 'Personnel' | translate }}</li>
            <li>{{ 'Partial subsidy for books' | translate }}</li>
            <li>{{ 'Granting scholarships and publishing projects' | translate }}</li>
            <li>{{ 'Promotion of workshops' | translate }}</li>
            <li>{{ 'site' | translate }}</li>
          </ol>
        </article>

        <article>
          <h5>{{ 'Is membership in the organization annual?' | translate }}</h5>
          <p>
            {{
              'Exit is possible at any time by sending a new email to shalash1@gmail.com Your registration is conditional on receiving messages about auditions and training. A one-time amount equal to the subscription fee is taken for the registration and exit process - at the end of the membership in three'
                | translate
            }}
            ...
          </p>
        </article>

        <article>
          <h5>{{ 'Is this an organization | A company for public benefit association?' | translate }}</h5>
          <p>
            {{
              'Shlesh is an organization by definition, procedurally from the beginning we are managed as an authorized dealer. It is important to note that no matter what the administrative definition of the organization was His professional conduct is always transparent to his clients.'
                | translate
            }}
          </p>
        </article>

        <article>
          <h5>{{ 'Does Slash work with players who are not graduates of three-year acting schools?' | translate }}</h5>
          <p>
            {{
              'The organization came to promote professional actors who graduated from a three-year acting school However, there are many cases in which players have not completed three years of study are successfully absorbed into the work circle and earn a living from the profession, in such cases our door is open.'
                | translate
            }}
            ...
          </p>
        </article>

        <article>
          <h5>{{ 'Question - How do I make a payment request for an advertisement?' | translate }}</h5>
          <p>
            {{
              'If you made an advertisement and closed a work order with our help, you can send an email to the customer requesting payment according to all the data that appears in the work order you received through us:You need to send the following text to the email listed in the work order:'
                | translate
            }}
            ...
          </p>
        </article>

        <div>
          <p>
            {{
              'In honor of the production company - write the name of the production company in the work order'
                | translate
            }}
          </p>
          <p>{{ 'First Name - Your name' | translate }}</p>
          <p>{{ 'Last Name - Your last name' | translate }}</p>
          <p>{{ 'I gave a service of - a game' | translate }}</p>
          <p>{{ 'For - advertisement for ..' | translate }}</p>
          <p>{{ 'On the date - the date of the photo shoot' | translate }}</p>
          <p>{{ 'TZ - yours' | translate }}</p>
          <p>{{ 'Bank Account Name - Your name' | translate }}</p>
          <p>{{ 'Bank - your bank ...' | translate }}</p>
          <p>{{ 'Account number - Your bank account number' | translate }}</p>
          <p>{{ ' ' | translate }}</p>
        </div>

        <div>
          <p>
            {{
              'Finally, in order not to deduct your income tax, you must fill out a certificate of withholding tax 0 or a certificate of deduction for artisans wages. This is a certificate you will receive from the IRS which says that the production company is not allowed to deduct income tax from the salary you will receive, therefore it is important to issue this certificate.'
                | translate
            }}
          </p>
        </div>
      </section>

      <section class="faq_list" *ngIf="he && heLanguage">
        <article>
          <h5>
            <strong>באודישן&nbsp;</strong><span size="4"><strong>-&nbsp;</strong></span
            ><strong>איך זה מסתדר עם השחקנים שכבר נמצאים אצל סוכנים</strong><span size="4"><strong>?</strong></span>
          </h5>
        </article>
        <p>כל מקרה לגופו,</p>
        <p>ישנם שחקנים שעובדים עם הסוכנות שלהם בבלעדיות מוחלטת</p>
        <p>ישנם שחקנים שעובדים באופן חלקי עם הסוכנות שלהם&nbsp;</p>
        <p>
          כל הסכם בין שחקן וסוכן מקובל ומכובד על ארגון שלש, יש לזכור שהמטרה בסוף יום הינה לשלב שחקנים בשוק עבודה קטן
          שקיים מזה עשרות שנים. חשוב לנו להשתלב &nbsp;במערך קיים ולכן נקדם שחקנים על פי ההתנהלות המקובלת והרווחת בשוק.
        </p>
        <article>
          <h5><strong>על מה מתבססת גביית דמי החבר החודשית</strong></h5>
        </article>
        <p>&middot; כוח אדם</p>
        <p>&middot; סבסוד חלקי לבוקים</p>
        <p>&middot; הענקת מלגות ופרסום פרויקטים</p>
        <p>&middot; קידום סדנאות</p>
        <p>. אתר</p>
        <p><br /></p>
        <p>* התשלום הינו צמוד למדד</p>
        <article>
          <h5>
            <strong>האם החברות בארגון הינה שנתית</strong><span size="4"><strong>?</strong></span>
          </h5>
        </article>
        <p>
          יציאה מתאפשרת בכל עת על ידי העברה של מייל חדש ל&nbsp;<a href="mailto:shalash1@gmail.com" target="_blank"
            ><u>shalash1@gmail.com</u></a
          >
        </p>
        <p>הרשמתך&nbsp;מותנית בקבלת מסרונים&nbsp;על אודישנים והשתלמויות.</p>
        <p>על תהליך ההרשמה והיציאה נלקח סכום חד פעמי בגובה דמי המנוי&nbsp;- בתום החברות בשלש</p>
        <p><br />&nbsp;</p>
        <article>
          <h5>
            <strong>האם שלש זה ארגון&nbsp;</strong><span size="4"><strong>|&nbsp;</strong></span
            ><strong>חברה לתועלת הציבור&nbsp;</strong><span size="4"><strong>|&nbsp;</strong></span
            ><strong>עמותה</strong><span size="4"><strong>?</strong></span>
          </h5>
        </article>
        <p>שלש הינו ארגון בהגדרתו, פרוצדורלית מתחילת דרכנו אנו מנוהלים כעוסק מורשה.&nbsp;</p>
        <p>חשוב לציין שלא משנה מה תהה הגדרתו המנהלתית של הארגון</p>
        <p>התנהלותו המקצועית תמיד שקיפה ללקוחותיו.</p>
        <p><br />&nbsp;</p>
        <article>
          <h5>
            <strong>האם שלש מתנהל עם שחקנים שאינם בוגרי בתי ספר למשחק תלת שנתיים&nbsp;</strong
            ><span size="4"><strong>?</strong></span>
          </h5>
        </article>
        <p>
          הארגון בא לקדם שחקנים מקצועיים בוגרי בית ספר למשחק תלת שנתיים<br />עם זאת ישנם מקרים רבים בהם שחקנים אשר לא
          סיימו שלוש שנות לימוד
        </p>
        <p>נקלטים בהצלחה במעגל העבודה ומתפרנסים מהמקצוע, במקרים כאלו דלתינו פתוחה.</p>
        <p><br />&nbsp;</p>
        <article>
          <h5>
            <strong>שאלה&nbsp;</strong><span size="4"><strong>-&nbsp;</strong></span
            ><strong>איך אני מבצעת דרישת תשלום על פרסומת</strong>
          </h5>
        </article>
        <p>
          אם עשית פרסומת וסגרת הזמנת עבודה בעזרתנו ניתן לשלוח ללקוח מייל דרישת תשלום&nbsp;לפי כל הנתונים שמופיעים לך
          בהזמנת העבודה שקיבלת דרכנו&nbsp;:
        </p>
        <p>את צריכה לשלוח למייל שרשום לך בהזמנת העבודה את המלל הבא&nbsp;:</p>
        <p><br /></p>
        <p>לכבוד חברת הפקות&nbsp;-&nbsp;כתוב לך בהזמנת העבודה את השם של חברת ההפקות</p>
        <p>שם פרטי&nbsp;-&nbsp;השם שלך</p>
        <p>שם משפחה&nbsp;-&nbsp;שם המשפחה שלך</p>
        <p>נתתי שירות של&nbsp;-&nbsp;משחק</p>
        <p>עבור&nbsp;-&nbsp;פרסומת ל&nbsp;..&nbsp;</p>
        <p>בתאריך&nbsp;-&nbsp;תאריך ימי הצילום</p>
        <p>ת<span size="2">.</span>ז&nbsp;-&nbsp;שלך&nbsp;</p>
        <p>בעבור כך מצורפת דרישת תשלום על סך&nbsp;-&nbsp;הסכום שכתוב לך בהזמנה</p>
        <p>שם חשבון בנק&nbsp;-&nbsp;השם שלך</p>
        <p>בנק&nbsp;-&nbsp;הבנק שלך&nbsp;(פועלים, לאומי, אוצר החייל, מזרחי) ...</p>
        <p>מספר סניף&nbsp;-&nbsp;סניף הבנק שלך</p>
        <p>מספר חשבון - מספר חשבון שלך בבנק&quot;</p>
        <p>
          לבסוף על מנת שלא יורידו לך מס הכנסה אז יש למלא&nbsp;<a
            href="https://www.gov.il/BlobFolder/service/itc806/he/Service_Pages_Income_tax_itc806.pdf"
            target="_blank"
            ><u>אישור ניכוי מס במקור&nbsp;</u></a
          ><a href="https://www.gov.il/BlobFolder/service/itc806/he/Service_Pages_Income_tax_itc806.pdf" target="_blank"
            ><u>0</u></a
          ><span size="3">&nbsp;</span>או&nbsp;<a
            href="https://secapp.taxes.gov.il/logon/LogonPoint/tmindex.html"
            target="_blank"
            ><u>אישור ניכוי לשכר אומנים</u></a
          >
          זה אישור שתקבלו ממס הכנסה שאומר שאסור לחברת ההפקה להוריד לכם מס הכנסה&nbsp;מהמשכורת שתקבלו לכן זה חשוב להנפיק
          את האישור הזה.
        </p>
        <p><br />&nbsp;</p>
        <p>
          <strong>יש לי סוכנות האם מותר לי להיות בשלש</strong><span size="4"><strong>?</strong></span>
        </p>
        <p>70 אחוז מהשחקנים בשלש&nbsp;מיוצגים בסוכנות, אנחנו לא ממליצים לעזוב את שלש</p>
        <p>
          אם אתם לא תחת ייצוג אישי בלעדי בסוכנות. &nbsp;אם רק נכנסת לסוכנות, זו יכולה להיות התחלה יפה שתאפשר לך להגדיל
          יותר את מעגל &nbsp;העבודה והחשיפה שלך, מה גם שאם תשיג לסוכנות עבודה שרכשת מבחוץ תתן לסוכנות שלך אישור לכך שאתה
          פוטנציאל טוב לקידום.&nbsp;
        </p>
        <p>
          ויתכן שתגדיל את האמונה של הסוכנות בך. מומלץ ששחקן שמקבל עבודה משלש, יעביר את העמלה לסוכנות שלו. &nbsp;אנחנו גם
          מאמינים שברגע שאתה נותן אתה מראה נכונות ונאמנות.
        </p>
        <p><br />&nbsp;</p>
        <article>
          <h5>
            <strong>אני לא מצליחה לשלוח סרטונים ללקוחות כי הם כבדים מידי</strong
            ><span size="4"><strong>,&nbsp;</strong></span
            ><strong>יש לכם רעיון</strong><span size="4"><strong>?</strong></span>
          </h5>
        </article>
        <p>
          בעיה מוכרת, הנה לינקים לאפליקציות שמסוגלות לכווץ גדלי סרטונים, ברגע שאת מצליחה לרדת מתחת ל&nbsp;65 מגה את
          יכולה להעביר את האודישן שלך בוואצאפ בלי בעיה.&nbsp;
        </p>
        <p>
          <a href="https://play.google.com/store/apps/details?id=com.melgames.videocompress&hl=iw&gl=US" target="_blank"
            ><u>לינק לאפליקציות כיווץ סרטונים באנדרואיד</u></a
          >
        </p>
        <p>
          <a href="https://apps.apple.com/us/app/compress-videos-resize/id1473857051" target="_blank"
            ><u>לינק לאפליקציה כיווץ סרטונים באייפון</u></a
          >
        </p>
        <p><br /></p>
        <p>וגם יתכן ואין יותר מקום במייל שלך או בדרייב ולכן צריך לשדרג&nbsp;</p>
        <p><br />&nbsp;</p>
        <article>
          <h5>
            <strong>היי אני רואה הרבה פרסומים שלכם בפייס שאני לא מוצא אותם באתר</strong
            ><span size="4"><strong>,&nbsp;</strong></span
            ><strong>למה</strong><span size="4"><strong>?</strong></span>
          </h5>
        </article>
        <p>
          כשאנחנו מעבירים פרסום ברשת על פרויקט חדש<span size="3">,&nbsp;</span>אנחנו בדרך כלל שמים בפרסום את מספר
          הפרויקט<span size="3">,&nbsp;</span>במידה ואתה לא מוצא את הפרויקט במערכת שלך באתר<span size="3">,&nbsp;</span
          >יתכן שהוא לא מתאים לך<span size="3">.&nbsp;</span>אם ראית משהו שיש לך תחושה &nbsp;שאתה ממש מתאים לו<span
            size="3"
            >.&nbsp;</span
          >אתה מוזמן לעשות לנו מייל ל&nbsp;<a href="mailto:shalash1@gmail.com" target="_blank"
            ><u>shalash1@gmail.com</u></a
          >
          ונבדוק את הנושא.&nbsp;
        </p>
        <p></p>
        <p><br />&nbsp;</p>
        <article>
          <h5>
            <strong>אני רוצה להגיש את עצמי לדמות יותר צעירה או מבוגרת ממני ולא יכולה</strong
            ><span size="4"><strong>,&nbsp;</strong></span
            ><strong>למה נסגרת לי האופציה הזאת</strong><span size="4"><strong>?</strong></span>
          </h5>
        </article>
        <p>
          חלילה, לא אנחנו קובעים אלא הלקוח שמלהק את הפרויקט. לפעמים יש לקוח שמחפש דמות בגיל&nbsp;20 והוא מוכן שנשלח לו
          את &nbsp;כל השחקניות שנמצאות בטווח של&nbsp;5 שנים&nbsp;+- &nbsp;לגיל המקורי של הדמות. אם כך הלקוח דורש, אנחנו
          צריכים לכבד את הבקשה שלו על להמשיך ולעבוד איתו בצורה אפקטיבית ויעילה.&nbsp;
        </p>
        <article>
          <h5>
            <strong>אני נראית צעירה מגילי ולא מצליחה לקבל תפקידים נכונים</strong
            ><span size="4"><strong>,&nbsp;</strong></span
            ><strong>מה לעשות</strong>
          </h5>
        </article>
        <p>
          היו&nbsp;מספר שחקניות ששינו את הגיל שלהן&nbsp;באתר ואז זה עבד להן יותר טוב, אולי את יכולה לנסות גם את האופציה
          הזאת אבל רצוי להישאר בטווח של&nbsp;5 שנים מגילך האמיתי. שששש אנחנו לא נגלה. :)&nbsp;
        </p>
        <p>
          דבר נוסף שאת יכולה לעשות הוא לקדם בוק עם ניראות&nbsp;שיכולה להיות יותר תואמת לגילך, צלם טוב יכול למתג אותך
          נכון.
        </p>
        <!-- <p><br>&nbsp;</p> -->
        <!-- <p><br>&nbsp;</p> -->
        <p><br />&nbsp;</p>
        <article>
          <h5>
            <strong>אמרתם לי להעלות רזומה לאתר</strong><span size="4"><strong>,&nbsp;</strong></span
            ><strong>אבל אני סטודנט למשחק אז מה לכתוב</strong>
          </h5>
        </article>
        <p>
          ניתן לכתוב רזומה של סטודנט ופשוט לפרוט את שמות הדמויות שלהן&nbsp;ביצעת מונולוגים, תרגילים, והצגות בבית ספר,
          לפרט מאיפה המונולוג ומי היה המורה. אנחנו מדביקים לך פה רזומה של סטודנט לדוגמא.
        </p>
        <p>השכלה&nbsp;</p>
        <p>2020 - 2021 - סדנת משחק צ&apos;אבק&nbsp;</p>
        <p>2019 - 2020 - סדנת טכניקה</p>
        <p><br /></p>
        <p>ניסיון משחקי בבית ספר</p>
        <p>מותו של סוכן&nbsp;| דמות ביף&nbsp;| במאי שחר רוזן&nbsp;</p>
        <p>הברך&nbsp;| דמות איתי&nbsp;| במאי ניב רז</p>
        <p><br /></p>
        <p>יכולות</p>
        <p>שירה גבוהה, טנור</p>
        <p>נגינה, קלידים&nbsp;6 שנים</p>
        <p>ריקוד ג&apos;אז</p>
        <p>יוגה</p>
        <p><br />שפות</p>
        <p>עברית&nbsp;- שפת אם</p>
        <p>אנגלית&nbsp;- בסיסית</p>
        <p><br />לינקים&nbsp;</p>
        <p>
          <a href="http://xn--4dberdwph2d/" target="_blank"><u>אינסטגרם</u></a>
        </p>
        <p>אתר אישי</p>
        <p><br />&nbsp;</p>
        <article>
          <h5>
            <strong>לא הבנתי איך זה עובד באתר שלכם</strong><span size="4"><strong>,&nbsp;</strong></span
            ><strong>מה זה זימון ישיר ומה זה מידע על פרויקט באתר</strong>
          </h5>
        </article>
        <p>בגדול אצלנו יש שתי דרכים לקבל זימון לאודישן&nbsp;</p>
        <p><br /></p>
        <p>1. פרויקט חדש באתר</p>
        <p>א<span size="3">.&nbsp;</span>יגיע מייל עם הודעת&nbsp;:&nbsp;מידע על פרויקט חדש לליהוק באתר&nbsp;</p>
        <p>ב. במייל יהיה לפרופיל שלך&nbsp;באתר כדי&nbsp;להגיש את עצמך כאופציה לאודישן</p>
        <p>ג. באתר יפתחו לך הדמויות, תוכלי לבחור דמות וזה יעביר אותך כאופציה לאודישן לבחירת הלקוח</p>
        <p>
          ד<span size="3">.&nbsp;</span>אם הלקוח התעניין ישלח לך מייל&nbsp;:&nbsp;זימון לאודישן בהמשך לבקשתך באתר&nbsp;
        </p>
        <p><br /></p>
        <p>
          <a href="http://shalash.org.il/how_do_we_work.asp" target="_blank"><u>סרטון</u></a> המחשה<span size="3"
            >,&nbsp;</span
          >חשוב מאוד לצפות&nbsp;<a href="http://shalash.org.il/how_do_we_work.asp" target="_blank"><u>בסרטון</u></a> כדי
          להבין איך זה עובד.
        </p>
        <p><br /></p>
        <p>
          <span size="3">2.&nbsp;</span>זימון ישיר לאודישן&nbsp;-&nbsp;יגיע למייל&nbsp;(בלי ששלחת בקשה באתר) זה קורה
          כאשר לקוח נותן לנו אישור לשלוח לשחקנים אודישן בלי לקבל אופציות.
        </p>
        <p><br />&nbsp;</p>
        <p>
          <strong>רגע אז איך זה עובד&nbsp;</strong><span size="4"><strong>...&nbsp;</strong></span
          ><strong>בגדול</strong><strong><br />&nbsp;</strong><br />&nbsp;אז איך זה עובד בפועל? צפו בסרטון ההסברה שלנו
        </p>
        <p><a href="https://www.youtube.com/watch?v=8NYQ_7O-ujs">https://www.youtube.com/watch?v=8NYQ_7O-ujs</a></p>
        <!-- <p><br></p> -->
        <!-- <p><br>&nbsp;</p> -->
        <p><br />&nbsp;</p>
        <article>
          <h5>
            <strong>בשעה טובה נכנסתי לסוכנות אז עכשיו אני לא צריכה את שלש</strong
            ><span size="4"><strong>,&nbsp;</strong></span
            ><strong>לא</strong><span size="4"><strong>?&nbsp;</strong></span
            ><strong>הסוכנת שלי תדאג לי להכל ומיתוג וזה</strong>
          </h5>
        </article>
        <p>
          להפך אם רק נכנסת לסוכנות ויש לך רק תמונה באתר, זו התחלה. זה הזמן להוכיח לה שאת מקבלים זימונים לדברים גם מכאן
          ולגרום לה יותר להאמין בך, מה גם שאת מאפשרת לעצמך
        </p>
        <p>
          להכפיל את מעגל החשיפה שלך ללקוחות גם מכאן וגם משם. ואם את לוקחת עבודה משלש זה סופר חשוב גם להראות לסוכנות שלך
          שאת מצליחה להכניס פרויקטים מחוץ לבית הסוכנות גם ללא עזרת הסוכנות, מה שמגדיל את הרצון של הסוכנות לקדם אותך יותר
          מהצד שלה.&nbsp;
        </p>
        <p><br /></p>
        <p>
          לנושא המיתוג, בארץ מקובל מאוד ששחקניות ושחקנים מעולים שמשחקים באינספור פרויקטים עדיין עושים השלמות הכנסה
          בפסטיגלים טלנובלות הצגות בידור ופרסומות שאין בהם תו איכות גבוה ועם זאת המיתוג של השחקנים לא נפגע. כי במדינה
          קטנה כמו שלנו הפרנסה קודמת לכל.
        </p>
        <p><br />&nbsp;</p>
        <article>
          <h5>
            <strong>היי לחצתי בטעות על הדמות הלא נכונה איך מתקנים</strong><span size="4"><strong>?</strong></span>
          </h5>
        </article>
        <p>
          היי יקרה, במקרה של טעות כזו אפשר לסמוך על המלהקת שתדע לשייך אותך אל הדמות הנכונה מבחינת המראה. מקסימום לאחר
          אודישן לדמות אחת שאולי פחות התאימה, היא תוכל לבדוק אותך לדמות הנכונה
        </p>
        <article>
          <h5>
            <strong>הי אם שולחת אודישן אחרי הזמן והלקוח לא צפה בו עדיין</strong
            ><span size="4"><strong>,&nbsp;</strong></span
            ><strong>אפשר לברר עם הלקוח מה קרה</strong><span size="4"><strong>?</strong></span>
          </h5>
        </article>
        <p>היי אהובה אין לנו קשר עם הלקוח מרגע שהזימון יצא מידנו&nbsp;אליך,</p>
        <p>
          אלא במקרה שהלקוח&nbsp;חוזר אלינו לאחר צפייה באודישן והוא מעוניין להתקדם עם שחקנית לשלב הבא או ללהק אותה. אבל
          בגדול אם שלחת את האודישן שלך מעט אחרי הזמן יתכן שהלקוח יצפה בזה בהמשך או שהלקוח ליהק את הפרויקט ואז הוא כבר לא
          צופה באודישנים.
        </p>
        <p><br /></p>
        <p>
          <strong>אז מה אני עושה אחרי שקיבלתי שיקוף&nbsp;</strong><span size="4"><strong>...&nbsp;</strong></span
          ><strong>מה זה בעצם שיקוף</strong>
        </p>
        <p>
          <span size="3">שיקוף הוא למעשה העתק של העברת הפרטים שלך ללקוח</span><span size="3">.&nbsp;</span
          ><span size="3">מרגע ששלחת את עצמך כאופציה לפרויקט כלשהו דרך האתר</span><span size="3">,&nbsp;</span
          ><span size="3">הבקשה שלך מועברת הלאה &nbsp;דרכנו ללקוח</span><span size="3">,&nbsp;</span
          ><span size="3">בזמן שהיא מועברת ללקוח את תקבלי העתק של שליחת הפרטים שלך</span><span size="3">. &nbsp;</span
          ><span size="3"
            >ככה ניתן לראות איזו תמונה שלך ללקוח ולהבין גם בהמשך אלו תמונות זוכות ליותר זימונים לאודישנים &nbsp;מצד
            הלקוח</span
          >. &nbsp;
        </p>
        <p>
          כמובן שמרגע שאתם מקבלים את השיקוף אין צורך להמתין לאודישן אלא רצוי לעבור לפרויקט הבא &nbsp;ולשליחת הפרטים שלך
          ללקוחות האחרים, ככל שתשלחו יותר בקשות לאודישנים ככה יגדל הסיכוי שלכם לקבל זימון&nbsp;
        </p>
        <p>
          יש שחקנים שמקבלים זימון אחד לחמש בקשות&nbsp;(חמישה שיקופים) יש שחקנים שמקבלים זימון אחד לעשר בקשות&nbsp;(עשרה
          שיקופים) יש שחקנים שמקבלים זימון אחד לעשרים בקשות&nbsp;(עשרים שיקופים) כל שחקן לפי הרושם שהתמונות שלו עושות על
          הלקוח&nbsp;+ השם שלו בתעשייה והמקצועיות של הגשת האודישנים
        </p>
        <p>
          שהוא מגיש. ככל שתעשי עבודה יותר טובה ככה הזימונים שלך יעלו על כל שליחת בקשה. לאט לאט גם תלמדי איזה לקוחות
          אוהבים לעבוד איתך יותר, איזה תמונות עובדות לך יותר, מה התמונות שעושות רושם יותר טוב על הלקוחות ומה הטייפקאסט
          שאת משדרת בתמונות שאת מעבירה. כך למעשה את הופכת להיות קצת הסוכנת של עצמך ואת לא תלויה באף אחד אחר.&nbsp;
        </p>
        <!-- <p><br>&nbsp;</p> -->
        <p><br />&nbsp;</p>
        <article>
          <h5>
            <strong>היי אז מה הבוק הנכון</strong><span size="4"><strong>,&nbsp;</strong></span
            ><strong>התמונה שתביא לי הכי הרבה זימונים</strong>
          </h5>
        </article>
        <p>לא לעשות בוק עם&nbsp;</p>
        <p>
          צלמים שלא עשו בוק מעולם ובכלל מומלץ לתת לצלם מקצועי ככל שיהיה שיקרא את המאמר הזה בבקשה &nbsp;יש צלמי
          חתונות,&nbsp;צלם שעשה סדנה,&nbsp;צלם חפצים,&nbsp;פורטרטים,&nbsp;אופנה, &nbsp;צלם חנות צילום,&nbsp;צלם
          נוף&nbsp;,&nbsp;צלם עיתונות&nbsp;... &nbsp;כל אחד כבודו במקומו מונח אבל רק צלם שחקנים ידע לביים &nbsp;לבוק
          שחקן. &nbsp;אם אין כסף לצלם שחקנים מקצועי זה מובן וברור ולכן מומלץ ורצוי לתת לחבר &nbsp;שיצלם אותך אבל
          אבל&nbsp;..&nbsp;לפני זה&nbsp;<u>שיקרא &nbsp;את המייל הזה</u>.&nbsp;
        </p>
        <p>&nbsp;</p>
        <p>לא לעשות תמונות חצי גוף או גוף</p>
        <p>
          חשוב להעלות&nbsp;headshot כתמונה ראשית וגם במשניות מלהקת מנסה להבין איך הפנים של השחקנים נראים &nbsp;במראה.
          לכם חשוב תמונת פנים ולא מרחוק.&nbsp;
        </p>
        <p>לגבי תמונות גוף? אין צורך מדדי הגוף שלך רשומים באתר אנחנו פחות מכוונים לדוגמנות.</p>
        <p>&nbsp;</p>
        <p>לא להביט הצידה למטה&nbsp;</p>
        <p>אלא רק פרונט זה חשוב!&nbsp;על מנת שהמלהקת תראה את&nbsp;</p>
        <p>הפרופורציות של הפנים שלכם בהתאמה לדמות</p>
        <p>&nbsp;</p>
        <p>לא לעשות שחור לבן</p>
        <p>אלא רק צבע, מלהקות רוצות להבין מה גוון העור, צבע עיניים, צבע שיער שחור לבן לא רלוונטי.</p>
        <p>&nbsp;</p>
        <p>לא לעשות צילומי חושך</p>
        <p>אלא רק תאורה טובה&nbsp;נסו תאורה טבעית אבל פחות עם צל וחושך&nbsp;אם אין לך אולפן,</p>
        <p>כשיש צלליות על הפנים זה דרמטי מוגזם ומסתיר.</p>
        <p>&nbsp;</p>
        <p>לא להצטלם עם רקע מבולגן&nbsp;</p>
        <p>
          אלא כשיש רקע מטושטש ובהיר מאחורה &nbsp;חשוב להצטלם על רקע בהיר ולא כהה רקע מטושטש או חלק &nbsp;אחרת זה מסיח את
          הדעת מנושא התמונה&nbsp;- הפנים שלך &nbsp;דרך אגב רקע של פלקט חלק מאחורה נותן ויזואל של דו מימד &nbsp;לכן
          משתדלים לצלם היום בבית או סטודיו כאשר הכל מטושטש מאחורה ובהיר זה נותן עומק&nbsp;(תלת מימד) (:
        </p>
        <p>&nbsp;</p>
        <p>להצטלם עם איפור מוגזם</p>
        <p>אלא רק איפור בסיס חשוב שהאיפור &nbsp;טבעי מחמיא ולא מורגש. &nbsp;אז בלי פילטרים</p>
        <p>&nbsp;</p>
        <p>לא להעביר צילומים מאירועים או בוק דוגמנות</p>
        <p>
          אלא רק&nbsp;headshots כי כל מה שלא הוא פחות מכבד&nbsp;: צילומים מחתונות, בר מצוות, מסיבות, הפקות, טיולים,
          מהדשא, מהמרכז המסחרי, מהסלון, צילומי גוף, תחתונים, בגדי ים.
        </p>
        <p>&nbsp;</p>
        <p>לא לצלם סלפי ופילטרים לא טבעיים</p>
        <p>
          אלא רק שמישהו מצלם אתכם סלפי נראה פחות מקצועי ולא מכבד אותך ואת הלקוח החשש שלנו בנושא הוא שלא יקחו אותך
          ברצינות בלי עדשות מרככות או אימוגים&nbsp;
        </p>
        <p>סלפי גם קצת מעוות את הפרופורציות של הפנים.</p>
        <p>&nbsp;</p>
        <p>לא להצטלם עם הבעות דמויות או סיטואציות משחקיות</p>
        <p>
          אלא רק טבעיתהיו אתם חשוב לא להצטלם בפוזות לא טבעיות&nbsp;(הסקסי, החמוד) פוזות כאלה משייכים לניצבים. תהיו אתם
          לא באמת צריך&nbsp;&quot;להראות&quot; סגנונות בלוק &nbsp;אלה תמונת פנים נייטרלית. לא לקשר סיטואציות משחקיות
          לבוק שחקנים, תמונות מתוך הפקות או כאלה שמבוימות בפוזות משחקיות&nbsp;אלא רק נייטרלי, כי לא טבעיות&nbsp;(הסקסי,
          החמוד, הסובל, הצוחק) וסיטואציות&nbsp;רגשיות&nbsp;הן נחלת העבר ומקושרות כיום יותר לניצבים או לתמונות כתבה
          בעיתונות, אנחנו לא שם. &nbsp;תהיו אתם, לא באמת צריך&nbsp;&quot;להראות&quot; סגנונות בלוק&nbsp;אלא להנפיק
          תמונות פנים חיוביות נייטרלית.&nbsp;
        </p>
        <p>&nbsp;</p>
        <p>לא להעביר תמונות מהפקה כלשהי&nbsp;</p>
        <p>
          בדמות של&nbsp;.. שוטר, נסיך, שפית, ספורטאית וכיוצ&apos; אלא תרשמו בקורות החיים שלכם איזה תפקידים ביצעתם בעבר,
          המלהקים מספיק חכמים&nbsp;ובעלי ניסיון כדי לקרוא קורות ולדמיין אתכם מבצעים דמויות נוספות על תכפו עליהם לראות את
          השוטר שלכם, אתם סוגרים להם&nbsp;את הויז&apos;ן.
        </p>
        <p>&nbsp;</p>
        <p>לא לנסות להעביר סיטואציות משחקיות בתמונת סטילס</p>
        <p>
          תשאירו את הכישרון לאודישן. אלא ניראות נייטרלית חיובית, ד&quot;א לגבי לבוש הדמות לאודישן, גם&nbsp;באודישן תזכרו
          שאין צורך להתלבש לפי הלוק המלא של הדמות, תסמנו.
        </p>
        <p>התמונות עוברות ללקוח בקטן ולכן כל תמונה שאינה הדשוט, תיבלע</p>
        <p><br />&nbsp;</p>
        <p>
          <span size="4"><strong>ייצוג בסוכנות</strong></span
          ><span size="4"><strong>,&nbsp;</strong></span
          ><strong>כל השאלות</strong>
        </p>
        <p>
          אז הרבה שחקנים שואלים אותנו איך איך נכנס לסוכנות חדשה? אז חברים, החוקים הם שאין חוקים, כל&nbsp;שחקן עשה את
          המסלול שלו&nbsp;אל הסוכנות הנכונה&nbsp;ולכל אחד&nbsp;היה&nbsp;את הדרך שלו להיכנס לתודעה שלה.
        </p>
        <p><br /></p>
        <article>
          <h5><strong>הדרך להיכנס לסוכנות</strong></h5>
        </article>
        <p>שחקן&nbsp;אחד&nbsp;עשה פרסומת טובה שהציג מול סוכנות&nbsp;במייל ששלח אליך</p>
        <p>שחקן אחר הציג לסוכונת שואוריל (סרטון של חצי דקה שמאחד כמה פרויקטים שהוא עשה)</p>
        <p>
          שחקן אחר הציג תמונות מקצועיות&nbsp;שנעשו על ידי צלם שחקנים מקצועי&nbsp;וזה הספיק לסוכנות שלו כדי&nbsp;לרצות
          לתת לו צ&apos;אנס
        </p>
        <p>שחקן אחר שלח סרט סטודנטים שעשה רושם על הסוכנות&nbsp;והוסיף קורות חיים של שחקן</p>
        <p>שחקן אחר הומלץ על ידי מלהק או במאי&nbsp;ויצר קשר ישיר עם הסוכנות</p>
        <!-- <p><br></p> -->
        <p><br /></p>
        <article>
          <h5><strong>לא צריך להיכנס לסוכנות רק בשביל להיכנס לסוכנות</strong></h5>
        </article>
        <p>
          אין חייב יש רצוי ואנחנו תמיד ממליצים להיות בסוכנות שתאמין בך ותקדם אותך. אבל אם זה לא המצב בסוכנות שלך או אם
          לא מצאת ייצוג נכון אז &nbsp;
        </p>
        <p>
          לא בכוח, בטח לא בשביל להיות רשום בסוכנות ולא לקבל כלום, בטח לא בשביל לומר לכולם תראו איזה יופי אני מיוצג
          אצל&nbsp;.. רק כדי שיהיה לך&nbsp;מיתוג&nbsp;גבוה.
        </p>
        <p>
          תיכנס&nbsp;לסוכנות כשאתה יודע שיש&nbsp;שיש להם תוכנית עבודה איתך, כשמאמינים&nbsp;בך, כשיש מי&nbsp;שרוצה לקדם
          אותך, כי אם לא תקבל&nbsp;
        </p>
        <p>
          אודישנים שאתה&nbsp;מכוון אליהם&nbsp;יתכן שתמצא&nbsp;את עצמך מהר מאוד במצב של מרמור וחוסר אמון בינך לבין
          הסוכנות וזה מצב לא בריא להיות בו.
        </p>
        <p><br /></p>
        <article>
          <h5><strong>אז איך אני יודע שאני נמצא בסוכנות הנכונה</strong><strong>?</strong></h5>
        </article>
        <p>
          1. קודם כל רצוי שזו תהיה&nbsp;<a
            href="https://www.shaham.org.il/%D7%A1%D7%95%D7%9B%D7%A0%D7%95%D7%99%D7%95%D7%AA_%D7%9E%D7%95%D7%A8%D7%A9%D7%95%D7%AA_%D7%A9%D7%97%22%D7%9D"
            target="_blank"
            ><u>סוכנות מורשית שחם</u></a
          >
          שחם הוא ארגון שחקני ישראל והוא קבע סטנדרטים לסוכנות שחקנים מקצועית
        </p>
        <p>
          2. אך גם כדאי שהסוכנות תחזור אליך לשאלות&nbsp;ובקשת יעוץ&nbsp;ושתתן&nbsp;לך מענה&nbsp;על&nbsp;אודישנים שאתה
          מעוניין בהם
        </p>
        <p>
          3. כדאי להציץ באתר של הסוכנות&nbsp;כשאתה רואה שהסוכנות שלך מחזיקה אצלה שחקנים פעילים&nbsp;שהם לווא דווקא
          מוכרים אלא עובדים ומקצועיים
        </p>
        <p>4. כשאתה רואה שיש התקדמות ממה שקיבלת בתעשיה עד היום אל מול מה שאתה מקבל בסוכנות אתה יודע שהתקדמת&nbsp;</p>
        <p><br /></p>
        <article>
          <h5><strong>מותר לי לקחת עבודות מבחוץ אם אני בסוכנות</strong><strong>?</strong></h5>
        </article>
        <p>
          באופן כללי הרעיון של להיכנס לסוכנות הוא נכון כי לסוכנות לרוב יהיה כוח לנתב איתך את הקריירה שלך למקומות מרחיקי
          לכת. היום רוב הסוכנויות גמישות ומאפשרות לשחקנים שלהם ללכת לאודישנים גם דרך הפייסבוק&nbsp;
        </p>
        <p>
          וגם דרך שלש ואתרים נוספים וזה שינוי שחל לטובה בתעשיה כי זה מאפשר לשחקנים להתפרנס מעוד מקורות ולא רק ללחוץ על
          מקור אחד לפרנסה.&nbsp;
        </p>
        <p>
          אז במידה ויש לכם סוכנות ולקחתם עבודה מכניסה דרך שלש אנחנו תמיד ממליצים להציע לסוכנות את העמלה, למה? כי אנחנו
          מאמינים&nbsp;
        </p>
        <p>שנתינה יכולה להוביל לפרגון חוזר ובגלל שהסוכנות היא לרוב גוף חזק, פרגון חוזר ממנה כנראה יהיה בעל משקל.</p>
        <p>
          ובלי קשר לפרגון, חשוב שהסוכנות שלכם תדע שאתם מקבלים עבודות באופן עצמאי, זה מוכיח לסוכנות שסיכויי ההשרדות
          שלכם&nbsp;
        </p>
        <p>
          בתעשיה הם יחסית טובים וזה יכול לדרבן סוכנות להשקיע בכם יותר כי אתם מוכשרים ובעלי פוטנציאל הכנסה לסוכנות.&nbsp;
        </p>
        <p>ככה שכל הצדדים זוכים.</p>
        <p><br /></p>
        <article>
          <h5><strong>ישר לחתום או&nbsp;תקופת ניסיון</strong></h5>
        </article>
        <p>
          אנחנו ממליצים לכם לבקש מהסוכנות להתחיל עם תקופת ניסיון של שלושה חודשים&nbsp;(פחות או יותר) במיוחד אם מדובר
          בסוכנות&nbsp;
        </p>
        <p>
          שדורשת בלעדיות&nbsp;(ללכת לאודישנים מהיום והלאה רק דרכה) תקופת הניסיון הזו מאפשרת לכם לבדוק בההדדיות את ההתאמה
          אחד לשני&nbsp;
        </p>
        <p>וגם תוכלו להמשיך לג&apos;נגל עם כל נותנים העבודה הנוספים שלכם מבלי להפסיק את הרציפות.&nbsp;</p>
        <p><br /></p>
        <article>
          <h5><strong>ואם לא עובד לי תוך כמה חודשים לחפש סוכנות אחרת</strong><strong>?</strong></h5>
        </article>
        <p>
          חשוב לזכור שמעבר לסוכנות יותר חזקה לא בהכרח מעיד על שיפור המעמד שלך כשחקן כי לפעמים אתה נכנס לסוכנות
          חזקה&nbsp;
        </p>
        <p>
          שיש לה את הפייבוריטים שלה וזה לא אתה (וזה לגיטימי שהיא בחרה בהם) או שלפעמים אתה נכנס לסוכנות עם אותו כוח
          כמו&nbsp;
        </p>
        <p>לסוכנות אחרת ואתה מגלה שהמעמד שלך נשאר כמו שהוא בכלל לא בגלל הסוכנות אלא בגלל שהרושם שעשית על המלהקות</p>
        <p>
          (אותן מלהקות שעובדות עם כל הסוכנויות בארץ) לא השתנה ושלמעשה המיתוג שלך בתעשיה כבר דיי נוצר ואז אתה מבין
          שאתה&nbsp;
        </p>
        <p>צריך לעשות קצת סדנאות כדי לשפר את המשחק שלך ולווא דווקא לעבור סוכנות.&nbsp;</p>
        <p>
          חשוב שתדע שמעבר מהיר בין סוכנות לסוכנות יכול לגרום לרושם בתעשיה שאתה חסר סבלנות לתהליך, שאתה&nbsp;מחפש את הדרך
          הקצרה
        </p>
        <p>
          אז רצוי שאם אתה מחליט לעשות את המעבר לסוכנות אחרת&nbsp;(החלטה לגיטימית) שתבצע את ההחלטה הזאת אחרי שיחה עם
          הסוכנות
        </p>
        <p>כשאתה רואה שאין ממש ניראות לעתיד משותף.&nbsp;</p>
        <p><br /></p>
        <article>
          <h5><strong>יש שחקנים שמצליחים להתפרנס ללא ייצוג בסוכנות</strong><strong>?</strong></h5>
        </article>
        <p>יש הכל מהכל וכן יש גם כאלה שהחליטו ללכת בדרך עצמאית, הנה כמה מקרים</p>
        <p>1. שחקנים ששמרו על קשר מוצלח עם במאים ומלהקות שנהנו לעבוד איתם</p>
        <p>2. שחקנים שפנו באופן עצמאי לכל מיני עבודות ברשתות&nbsp;(צריך להיזהר שלא ישלמו לכם בזול מידי ברשתות)</p>
        <p>3. שחקנים שנכנסו לתאטרון כלשהו והזמינו מלהקות ובמאים להצגות שלהם על מנת להתרשם</p>
        <p><br /></p>
        <article>
          <h5><strong>יש כל מיני רמות של יצוג בסוכנות</strong><strong>?</strong></h5>
        </article>
        <p>כמובן וזה לגיטימי הנה כמה סוגים שונים של ייצוג&nbsp;</p>
        <p>
          1. שחקן שרשום בסוכנות ללא בלעדיות ומורשה לאתר לעצמו עבודות מבחוץ בכל התחומים על מנת להתפרנס מהתחום&nbsp;-
          מומלץ
        </p>
        <p>
          2. שחקן שרשום בסוכנות ומורשה לאתר עבודות מבחוץ בהבנה הדדית עם הסוכנות שהוא ישאל אותה אם היא מבקשת אחוזי עמלה
          מהעבודה&nbsp;- מומלץ&nbsp;
        </p>
        <p>
          3. שחקן שרשום בסוכנות בפרויקטים של מסך ומורשה לאתר עצמאית תאטרון, סרטי סטודנטים, סרטים עצמאיים, תדמית,
          אינטרנט. - מומלץ למי שמרגיש שהוא מנוהל חזק במסך
        </p>
        <p>
          4. שחקן בניהול אישי בלעדי, מפנה הכל למנהל.ת האישי.ת שלו ומשם נעשה המשא ומתן. - מומלץ לשחקנים חזקים בתעשיה
          וטאלנטים בלבד &nbsp;
        </p>
        <p><br />&nbsp;</p>
        <article>
          <h5>
            <strong>אם אני רואה פרויקטים שיש ברשתות החברתיות וגם בשלש</strong
            ><span size="4"><strong>,&nbsp;</strong></span
            ><strong>אז בשביל מה אני צריכה אתכם</strong>
          </h5>
        </article>
        <p>באופן כללי לגבי פרויקטים גם בשלש וגם בפייס וברשתות&nbsp;...&nbsp;</p>
        <p>לעיתים לקוחות מחפשים דמויות בפייסבוק וגם דרך שלש וגם דרך סוכנויות, במקביל. למה? זה מה שנקרא שיטת מצליח.</p>
        <p><br /></p>
        <p>
          שיטת מצליח&nbsp;- אם יש סיכוי שלקוח ימצא לחברת ההפקה שחקן.נית זול.ה וטוב.ה דרך הפייסבוק&nbsp;(סיכוי נמוך) אז
          הוא תיקח אותם משם בסכום הרבה הרבה יותר נמוך ואולי אף נצלני.
        </p>
        <p><br /></p>
        <p>
          בלי קשר הם פונים גם דרכנו&nbsp;.. אבל הסיכוי שהם יבצעו מהלך כזה&nbsp;(של הוזלת שחקן.נית) דרך סוכנות מקצועית או
          דרך שלש&nbsp;- כשאנחנו יודעים מה בדיוק התקציב וערכה הכספי של כל הפקה וכשיש לנו ניסיון ושכשאנחנו יכולים להגן
          עליכם ולדרוש בעבורכם ובשמכם את הסכום שאותו אתם באמת אמורים לקבל? נמוך. ותמיד נעשה את זה. תמיד נגן עליכם וננסה
          לתת לכם את הסכום הראוי ובעבור זה את משלמת לשלש, מעבר לכך חשוב לא לשבור את המחירים בתעשיה כלפי מטה, כי אז הנזק
          הוא רוחבי לכולנו.&nbsp;
        </p>
        <p>
          קורה שלעיתים&nbsp;(נדירות) יש תקציב ריאלי וראוי גם דרך הפייסבוק וגם דרך שלש, אבל שלש וסוכנויות
          בגדול&nbsp;&quot;ינצחו&quot; את תקציבי הרשתות החברתיות לנושא התקציב. למה? כי יש פה כוח אדם שפועל לשדרג.
        </p>
        <p>אז זכרי, הסיבות להגיש את עצמך דרך שלש לאותו פרויקט שראית ברשתות</p>
        <p>החברתיות ולא דרך הפייס וכאלה הן&nbsp;:</p>
        <p>1 מיתוג יותר גבוה.</p>
        <p>2 יכולת שלנו להתמקח בשמך על תקציב שאולי אינך יודעת שיש להפקה.</p>
        <p>3 מידע מלא על כל ההפקה כך שנוכל להגן עליך במידה והיא פוגענית.</p>
        <p>4 הכוונה למחלקה&nbsp;/ לאדם הנכון על מנת לקבל תשלום בזמן.</p>
        <p>5 סגירת הזמנת עבודה מסודרת אם יש צורך בכך.</p>
        <p>לפעמים שחקנים ושחקניות שאין להם סוכנות, עורך דין&nbsp;..</p>
        <p>מבקשים מאיתנו לעזור להם לסגור חוזה יותר טוב לפרויקט שהם קיבלו</p>
        <p>מחוץ לשלש כי באמת יש לנו ניסיון של מעל&nbsp;20 שנה בהתמקחות.</p>
        <p><br />&nbsp;</p>
        <p>
          <strong>האם יוטיוב נתמך</strong><span size="4"><strong>?</strong></span>
        </p>
        <p>כן&nbsp;:) וגם סאונד קלאונד</p>
        <article>
          <h5>
            <strong>הי למה אני לא יכולה לשלוח את עצמי לכמה דמויות באותו פרויקט</strong
            ><span size="4"><strong>?</strong></span>
          </h5>
        </article>
        <p>היי, שאלה חשובה</p>
        <p>לבקשת המלהקות הבמאים והמפיקים, אנחנו שולחים כל שחקן לדמות אחת, למה&nbsp;:</p>
        <p>
          1. הלקוחות טוענים שהם יכולים לצפות בשחקן.נית פעם אחת ומשם להבין איזו דמות מהפרויקט שלהם תתאים לשחקן.נית.&nbsp;
        </p>
        <p>
          2. ללקוחות יש גם ככה הרבה מאוד מאוד אודישנים לצפות בהם, לא רק דרך שלש גם דרך פלטפורמות נוספות אז הם&nbsp;גם כך
          מתמודדים עם כמות עצומה של מידע, המטרה לא להקשות עליהם.
        </p>
        <p>
          3. בואו נצא מנקודת הנחה שמלהק.ת במאי.ת הם מקצועיים ומכירים את הפרויקט שהם עובדים עליו ואת&nbsp;הדמויות שלהם
          לליהוק, ואם הם יראו שיש לך פוטנציאל להגיש להם דמות אחרת או נוספת לאודישן הם מיד יבקשו ממך להגיש להם דמות אחרת
          או נוספת.
        </p>
        <p>
          4. &nbsp;בחירות&nbsp;- אנחנו כשחקנים חושבים שדווקא זה יעזור לנו כשחקנים לבצע סינון ולבחור דמות אחת לאודישן ולא
          כמה, כי זה מלמד אותנו לחשוב עצמאית ולבצע את הבחירות שלנו בדמויות הנכונות לנו על ידי ניסוי וטעיה וללמוד
          לכוונן&nbsp;את עצמנו יותר טוב.
        </p>
        <p>
          בכל מקרה כל הכבוד על האנרגיה שלך והרצון לעשות כמה אודישנים לכמה דמויות<span size="3">,&nbsp;</span>זה רק מראה
          שיש לך&nbsp;&nbsp;אנרגיות רבות ואת במקום טוב, שמרי את האנרגיות האלו, כי יבואו עוד הרבה פרויקטים בעתיד.&nbsp;
        </p>
        <p><br />&nbsp;</p>
      </section>
    </div>
  </div>
  <!--inner_wrapper-->
</div>
<!--site_wrapper_END-->
