<!--site_wrapper-->
<div class="site_wrapper">
  <div class="inner_wrapper">
    <div class="login_wrapper">
      <h1 class="title_tag">
        {{ 'Cast A Project' | translate }}
      </h1>
      <div class="login_banner">
        <div class="login_banner">
          <h3>{{ 'Thank you' | translate }}</h3>
        </div>
      </div>

      <section class="registration_content thanks_message">
        <h2>
          <span>{{
            'Your inquiry has been registered and you will be addressed as soon as one of our representatives becomes available'
              | translate
          }}</span>
        </h2>
      </section>
    </div>
  </div>
  <!--inner_wrapper-->
</div>
<!--site_wrapper_END-->
