// .shw-warning-container {
//   margin-top: -20px;
// }

.shw-warning {
  font-size: 12px;
  margin: 15px 10px 4px 310px;
  color: #565873;
  font-weight: 450;
}

.shw-warn {
  color: #565873;
  font-size: 12px;
  font-weight: 450;
  margin-right: 305px;
}

.checkbox_wrapper {
  padding-left: 0;
}

.checkbox_wrapper input {
  width: 3%;
}

.pwdfield {
  -webkit-text-security: disc;
  -moz-text-security: disc;
}
.password-toggle {
  position: relative;
  cursor: pointer;
}

.fa {
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
}
.input-group {
  width: 50% !important;
}
.login_wrapper section span {
  margin: 0 0 0 10px !important;
}
.input-group-append {
  margin-left: -5px !important;
}
.fa {
  top: 38%;
  right: 14px;
}
p.small.text-danger.font-italic {
  background-color: #000d59;
  color: white !important;
}
span.input-group-text {
  background-color: transparent;
  border: none;
}
.passwordd input {
  position: relative;
}
.examplle input {
  position: relative;
  top: -6px;
}
.registration_content h3 {
  display: block !important;
}
.rtl i .fa {
  right: 250px !important;
}

.rtl .registration_content h3 span,
.rtl .registration_content .h3 span {
  margin: 0 0 0 10px !important;
}

.shw-warn {
  width: 100%;
}
.address_wrapper {
  top: -13px;
}
.phone_wraper {
  top: -7px;
}

.rtl .shw-warn {
  margin-right: 0px !important;
}
.rtl .fa {
  top: 50% !important;
}

.fa {
  top: 66% !important;
}
i.fa.fa-eye-slash.mb-3.pswdd {
  top: 44px !important;
}
.date_pickk {
  color: black;
  font-size: 14px;
  font-family: -webkit-body;
}
.fa-regular,
.far {
  font-weight: 400;
  display: flex;
  justify-content: space-evenly;
}
.date_pickr {
  display: flex;
}
input.fa-regular.fa-calendar.ng-untouched.ng-pristine.ng-invalid {
  font-size: 18px !important;
  font-family: -webkit-body !important;
}
input.fa-regular.fa-calendar.ng-pristine.ng-invalid.is-invalid.ng-touched {
  font-size: 18px !important;
  font-family: -webkit-body !important;
}
input.fa-regular.fa-calendar.ng-touched.ng-dirty.ng-valid {
  font-size: 18px !important;
  font-family: -webkit-body !important;
}
.fa-regular,
.far {
  font-weight: 0;
  font-size: 18px !important;
  font-family: -webkit-body !important;
}
.field_wrapper.address_wrapper.clothing {
  width: 100%;
}
.parent_cloth {
  display: flex;
}

.child_cloth {
  padding: 2px;
}
