.about_venture_news {
  display: flex;
}

.news-img {
  width: 40%;
  display: flex;
}

.news-cont {
  width: 50%;
  display: flex;
  padding: 0 10px;
  line-height: 1.8;
}

img.fr-fic.fr-dib {
  width: 100% !important;
  height: 100% !important;
}
.about_venture_news {
  display: flex !important;
  padding: 0 0 20px 0px !important;
  height: 100% !important;
}
