.profile_details {
  display: flex;
  flex-wrap: wrap;
}
.ws_profilepic {
  width: 40%;
}
.ws_profilepic img {
  width: 100%;
}
.ws_profile_description p {
  font-size: 18px;
}
p {
  margin-top: 0;
  margin-bottom: 1rem;
}

ul.breadcrumb {
  padding: 0;
  background-color: transparent;
  margin: 0 0 30px;
}
ul.breadcrumb li {
  margin: 0 8px 0 0;
}
.ws_profile_description {
  width: 60%;
  padding: 40px;
  background-color: #fff;
}
.ws_period {
  background-color: #000;
  padding: 50px 0;
  text-align: center;
}
.ws_period ul {
  display: flex;
  justify-content: center;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.ws_period li {
  width: 33.3333%;
  color: #fff;
}
.ws_shedule_wrapper {
  background-color: #636efc;
  display: flex;
  flex-wrap: wrap;
}
.ws_time_schedule {
  width: 50%;
  padding: 30px;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.ws_time_schedule li {
  position: relative;
  padding: 0 0 0 85px;
  font-size: 18px;
  line-height: 22px;
  margin: 20px 0;
  font-weight: 500;
}
.ws_time_schedule li strong {
  position: absolute;
  left: 0;
  top: 0;
  color: #fff;
  font-size: 20px;
  display: block;
}
.ws_count {
  width: 25%;
  background-color: #342c8c;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ws_count h3 {
  width: 200px;
  height: 200px;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  background-color: #080061;
  border-radius: 50%;
  color: #fff;
  font-size: 32px;
  font-weight: 600;
  font-style: italic;
}
.ws_button {
  width: 25%;
  background-color: #080061;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ws_button a {
  color: #fff;
  font-size: 28px;
  font-weight: 700;
  font-style: italic;
  text-decoration: underline;
  display: block;
  background-image: url(../../assets/images/arow-white.png);
  background-repeat: no-repeat;
  background-position: center bottom;
  padding: 0 0 25px;
}
.ws_media_details {
  border: solid 4px #000;
  margin: 40px 0 0;
}
.ws_video {
  border-bottom: solid 4px #000;
  display: flex;
  flex-wrap: wrap;
}
.ws_video h3 {
  margin: 0;
  width: 35%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 34px;
  font-weight: 600;
}
.ws_video section {
  width: 65%;
}
.ws_video section img {
  width: 100%;
  border-left: solid 4px #000;
}
.ws_recomondation {
  padding: 30px;
}
table {
  border-collapse: collapse;
}
.ws_recomondation th {
  text-align: center;
  padding: 0 0 30px;
  font-size: 30px;
  border-bottom: solid 4px #000;
}
.ws_recomondation td {
  padding: 20px 0;
}
.ws_recomondation td p {
  font-size: 18px;
}
b,
strong {
  font-weight: bolder;
}
.ws_recomondation td ul {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
}
.ws_recomondation td li {
  margin: 0 5px;
}
ul.breadcrumb li a {
  display: inline-block;
  padding: 0 5px 0 0;
  color: #000;
}
.ws_profilepic img {
  width: 100%;
  height: 386px;
}
a.request_info {
  font-size: 15px !important;
}
.ws_button a {
  text-align: center;
  margin-top: 34px !important;
  margin-bottom: 10px !important;
}
.registr {
  margin-top: 13px !important;
  font-size: 18px !important;
}
.ws_time_schedule li {
  padding: 0px 10px 5px 107px;
}
// .ws_video {
//   justify-content: center;
// }
.ws_video section {
  margin: -1px 0px -10px -1px;
}
.ws_profile_description {
  max-height: 386px;
  overflow-y: auto;
}
