.news_successful_cast_list a {
  color: #212529;
}

.news_successful_cast_list p {
  color: #212529;
}

.news_successful_cast {
  background-color: #f2f2f2 !important;
}

.news_casting_call {
  background-color: #fff !important;
}

.news_link {
  background-color: transparent !important;
  border: solid 1px #000;
}

.news_wrapper section h3,
.news_wrapper section .h3 {
  font-size: 23px !important;
}

.news_wrapper section p {
  font-size: 15px !important;
}

.news_casting_call {
  background-size: 35px;
}

.news_successful_cast {
  background-size: 35px;
}

.news_link {
  background-size: 35px;
}

.masonry-item {
  width: 320px;
  padding: 12px;
}
