<!--site_wrapper-->
<div class="site_wrapper">
  <div class="inner_wrapper">
    <div class="news_wrapper">
      <h1 class="title_tag">
        {{ 'News Feed' | translate: { name: 'News Feed' }
        }}<span>{{ 'OUR latest news' | translate: { name: 'OUR latest news' } }}</span>
      </h1>
      <div class="row">
        <ngx-masonry style="height: 2500px">
          <div ngxMasonryItem class="col-12 col-sm-6 col-md-4 col-lg-4 masonry-item" *ngFor="let list of newsList">
            <section
              class="news_successful_cast news_successful_cast_list"
              [ngClass]="[
                list.news_type === 'link' ? 'news_link' : '',
                list.news_type === 'successfull_casting_call' ? 'news_successful_cast' : '',
                list.news_type === 'casting_call' ? 'news_casting_call' : ''
              ]"
            >
              <a [routerLink]="['/news-details', list.id]">
                <img
                  *ngIf="list.pic"
                  src="{{ imageReSizeUrl }}src={{ imgNewsUrl }}{{ list.pic }}&w=263&h=351&zc=1&q=95"
                />
                <img *ngIf="!list.pic" src="{{ imageReSizeUrl }}src={{ imgUrl }}user.png&w=263&h=351&zc=1&q=95" />
                <h3>{{ !isRTL ? list.title : list.title }}</h3>
                <p [innerHtml]="!isRTL ? list.shortText : list.shortText"></p>
              </a>
            </section>
          </div>
        </ngx-masonry>
      </div>
    </div>
  </div>
  <!--inner_wrapper-->
</div>
<!--site_wrapper_END-->
