.shw-warning-container {
  margin-top: -20px;
}

.shw-warning {
  font-size: 13px;
  color: #565873;
}
.final_row {
  border-bottom: transparent !important;
}
.reg_pagination li.step_next {
  background-image: url(../../assets/images/arow.png) !important;
}
.shw-warning-container {
  margin-top: 1px !important;
}
.field_wrapper.address_wrapper.clothing {
  width: 100%;
}
.parent_cloth {
  display: flex;
}

.child_cloth {
  padding: 2px;
}
