<!--site_wrapper-->
<div class="site_wrapper">
  <div class="inner_wrapper">
    <div class="login_wrapper">
      <h1 class="title_tag">
        {{ 'Forgot Your Password' | translate }} ?<span>{{ 'Reset here' | translate }}</span>
      </h1>

      <div class="login_banner">
        <h3>{{ 'Forgot password' | translate }}</h3>
      </div>

      <form class="mt-2 needs-validation" [formGroup]="resetForm" (ngSubmit)="resetPassword()">
        <section>
          <article>
            <div class="forgot_psswdd">
              <input
                type="email"
                class="form-control"
                id="email"
                placeholder="{{ 'Email' | translate }}"
                formControlName="email"
                [ngClass]="{ 'is-invalid': f['email'].touched && f['email'].errors }"
              />
              <div style="clear: both"></div>
              <div *ngIf="f['email'].touched && f['email'].errors" class="invalid-feedback invalid-bg">
                <div *ngIf="f['email'].touched && f['email']['errors']['required']">
                  {{ 'Email is required' | translate }}
                </div>
                <div *ngIf="f['email'].touched && f['email']['errors']['email']">
                  {{ 'Email must be a valid email address' | translate }}
                </div>
              </div>
            </div>
          </article>

          <!-- <p>Forgot your password? <a href="#">click here</a></p> -->

          <div class="login_btn">
            <button [disabled]="!resetForm.valid" type="submit">{{ 'Reset Password' | translate }}</button>
          </div>
        </section>
      </form>
    </div>
  </div>
  <!--inner_wrapper-->
</div>
<!--site_wrapper_END-->
