<!--site_wrapper-->
<div class="site_wrapper">
  <div class="inner_wrapper">
    <div class="about_wrapper">
      <h1>
        {{ 'Terms Of Use' | translate }}
      </h1>
      <section class="about_venture">
        <p>
          ברוכים הבאים לאתר&nbsp;&quot;של&quot;ש &ndash; שחקנים למען שחקנים&quot;&nbsp;שבבעלותו ובניהולו של ארגון
          של&quot;ש&nbsp;ע.מ 033090895&nbsp;(להלן: &quot;האתר&quot;).
        </p>
        <p>
          האתר מהווה פלטפורמה פתוחה ומקוונת לשחקנים, מטרתו לקדם ולמנף שחקנים בשוק העבודה, ללהקם, לחשוף אותם בפני לקוחות
          פוטנציאלים ולפרוש בפניהם חידושים ומידע בתחום המשחק &ndash; כל זאת במטרה לסייע לשחקנים להגדיל את חשיפתם בשוק
          המשחק ביעילות ובמקצועיות ובאופן הוגן בשוק הלא קל ללא מטרות ייצוג. בגין שירותי האתר נגבה תשלום המפורט להלן.
        </p>
        <p>
          בנוסף, האתר מהווה מקור מידע למי שמעוניין בכך, אודות שחקנים שנרשמו בו לצורך פרסומם למטרת שכירת שירותיהם.&nbsp;
        </p>
        <p>ייתכן שבאתר יוצגו פורומים ומידע הפתוחים לציבור הרחב, אשר בהם יידונו נושאים הקשורים למשחק.</p>
        <p>
          כל התכנים אשר יוצגו באתר הינם בגדר המלצה בלבד ואינם מהווים עצה, חוות דעת ו/או התייעצות עם גורם מקצועי. על כן,
          המטרה היא להעשיר את המידע האישי והכללי של המשתמש.
        </p>
        <p>
          כל האמור בתנאי שימוש אלו, לרבות החלק הראשון והשני (להלן גם: &quot;ההסכם&quot;) נוסח בלשון זכר מטעמי נוחיות
          בלבד.
        </p>
        <p>
          שימוש, כניסה&nbsp;והתחברות לאתר, מהווים אישור לכך שקראת והסכמת להיות כפוף להסכם זה ולכל הודעה המוצגת באמצעות
          האתר.
        </p>
        <p>
          אתה מצהיר ומתחייב שאתה כשיר ומוסמך להתקשר בהסכם זה, וככל והנך מבצע רכישה, הנך מצהיר כי גילך הינו 18 לכל הפחות.
          גלישה באתר זה מתחת לגיל 18 מותנית באישור הורה. אם אינך מסכים לאמור לעיל, אינך מורשה לגלוש לאתר ו/או להשתמש
          בשרותיו.
        </p>
        <p>מאחר ותנאי השימוש הינם הסכם משפטי מחייב, מומלץ שתקרא אותם בעיון רב.</p>
        <p>1. &nbsp; &nbsp; &nbsp;&nbsp;הגדרות</p>
        <p>
          1.1. &nbsp; &nbsp;&quot;האתר&quot; &ndash; אתר האינטרנט:&nbsp;<a href="http://www.shalash.org.il/"
            >http://www.shalash.org.il/</a
          >
          ו/או ארגון של&quot;ש, עובדיו, נציגיו, הנהלת האתר ו/או כל מי שפועל מטעם האתר.
        </p>
        <p>
          1.2. &nbsp; &nbsp;&quot;השחקנים&quot;, &quot;המשתמשים&quot;, &quot;הרוכשים&quot; ו&quot;הקונים&quot; &ndash;
          הגולשים באתר ו/או הגולשים אשר ביצעו רכישה באמצעות האתר, או מי מטעמם.
        </p>
        <p>
          1.3. &nbsp; &nbsp;&quot;המוצרים&quot;, &quot;השירותים&quot; &ndash; כל דבר מה אשר מוצע למכירה באתר, לרבות זכות
          פרסום, מוצרים, שירותים ועוד.
        </p>
        <p>2. &nbsp; &nbsp; &nbsp;&nbsp;הגבלת אחריות האתר</p>
        <p>2.1. &nbsp; &nbsp;המידע והייעוץ באתר, ניתנים AS IS ואיננו מתחייבים לדיוקם או נכונותם.</p>
        <p>
          2.2. &nbsp; &nbsp;כל התכנים אשר יוצגו באתר מבטאים את דעתו האישית של הכותב ואינם בגדר המלצה, עצה או חוות דעת
          ואינם מהווים תחליף כזה או אחר להתייעצות מקצועית. בכל ענין משפטי ו/או מקצועי ו/או חשד לעניין כזה יש לפנות
          לאנשים המוסמכים לכך, ואין להסתמך על האתר ועל המידע המצוי בו.
        </p>
        <p>
          2.3. &nbsp; &nbsp;להנהלת האתר שמורה הזכות שלא לאשר את זכות הפרסום ו/או רכישת המוצרים ו/או השירותים על ידי
          הרוכש, במקרה בו לא ניתן אישור לביצוע התשלום בגין הפרסומים ו/או המוצרים באמצעי התשלום אשר סופקו על ידי הרוכש או
          שרוכש המוצרים אינו עומד בתנאי וכללי השימוש באתר, או על-פי כל דין אחר המקובל.
        </p>
        <p>
          2.4. &nbsp; &nbsp;האתר עשוי להכיל קישורים לאתרי אינטרנט אחרים ולסרטונים ב- youtube, viemo instegram, facebook,
          tiktok &nbsp;ועוד אתרים חיצוניים ופלטפורמות אינטרנטיות חיצוניות. אין בקישורים אלה ללמד על תוכנם או מהימנותם של
          אתרי האינטרנט האחרים. האתר לא יישא באחריות בקשר למידע או שירותים המופיעים באתרי האינטרנט האחרים.
        </p>
        <p>
          2.5. &nbsp; &nbsp;האתר שומר לעצמו את הזכות לבצע שינוי, הסרה, השמטת פרטים מכל תוכן שיועלה לאתר לאחד הגולשים בכל
          אופן של יהיה לרבות כתיבה בפורומים, מודעות ועוד.
        </p>
        <p>2.6. &nbsp; &nbsp;האתר מקבל מן השחקנים קורות חיים ו/או תמונות ואין האתר בודק את מהימנותם.</p>
        <p>3. &nbsp; &nbsp; &nbsp;&nbsp;בעלות בקניין הרוחני</p>
        <p>
          3.1. &nbsp; &nbsp;כל הזכויות ו/או הקניין הרוחני המתפרסם באתר הינם בבעלות האתר או המוכרים ומוגנים על - פי כל
          דין, לרבות, החשבונות, כותרות, קוד מחשב, נושא, אובייקטים, תווים, שמות, סיפורים, דיאלוגים, משפטי מפתח, מיקומים,
          רעיונות, מצגים אמנותיים, אנימציות, צלילים, יצירות מוסיקליות, אפקטים של תמונה ושמע, שיטות תפעול, רשימות לקוחות,
          פילוח שוק, רשימות משתמשים, גרפיקה, מידע שסופק על-ידי המשתמשים וכדומה.
        </p>
        <p>
          3.2. &nbsp; &nbsp;חזקה שהתכנים באתר הינם בבעלות בלעדית של האתר או מי מטעמו, ולא בבעלות המוכרים או צד ג&apos;,
          למעט תמונות המשתמשים אשר חזקה שהאתר קיבל רישיון שימוש לגביהן.
        </p>
        <p>
          3.3. &nbsp; &nbsp;למעט לצורך שימוש אישי ורוחני (כלומר על שני התנאים להתקיים), כל העתקה, צילום, תרגום, אחסון
          במאגר מידע, שידור או קליטה בכל דרך אחרת, בכל אמצעי אלקטרוני, אופטי מכני או בכל אמצעי אחר, שימוש מסחרי אינו
          מורשה, כולו או מקצתו, ו/או יצירת יצירה נגזרת מן התכנים אסורים בהחלט, ומהווים, בין היתר, עבירה פלילית, עוולה
          אזרחית וחוזית.
        </p>
        <p>4. &nbsp; &nbsp; &nbsp;&nbsp;רישיון שימוש מוגבל</p>
        <p>
          4.1. &nbsp; &nbsp;בכפוף לכך שתציית לתנאי הסכם זה ובכפוף לתשלום שיפורט בהמשך, ניתן לך בזאת רישיון שימוש בשירותי
          האתר.
        </p>
        <p>
          4.2. &nbsp; &nbsp;ככל שהנך מעוניין לבצע רכישה ו/או פרסום עבור אחר, עליך לעדכנו בדבר תנאי הסכם זה בטרם הרכישה
          ו/או הפרסום או מיד לאחריהם.
        </p>
        <p>
          4.3. &nbsp; &nbsp;הנך מתחייב לשמור על זכויות היוצרים ו/או קניין רוחני ו/או זכויות אחרות על פי כל דין של האתר
          ו/או של המשתמשים ו/או של המוכרים באתר, ולהימנע מפגיעה ו/או שינוי ו/או שיבוש תכנים באתר או פגיעה בזכויות צד
          ג&apos; כלשהו.
        </p>
        <p>
          4.4. &nbsp; &nbsp;האמור באתר זה אינו בגדר חוות דעת מקצועית ואינו מהווה תחליף לייעוץ מקצועי&nbsp;מבעלי מקצוע.
        </p>
        <p>
          4.5. &nbsp; &nbsp;האתר אינו מתחייב לשמור על מידע שהוזן לאתר על ידך, האחריות לשמירת התכנים ולגיבויים מוטלת עליך
          בלבד.
        </p>
        <p>4.6. &nbsp; &nbsp;האתר רשאי לצרף את המידע אשר סופק על ידך למאגר המידע המנוהל על ידו בהתאם לקבוע בחוק.</p>
        <p>4.7. &nbsp; &nbsp;חל איסור מוחלט לבצע סריקה רובוטית של האתר או להטיל על שרתיו עומס בלתי סביר.</p>
        <p>
          4.8. &nbsp; &nbsp;האתר יהיה רשאי להפסיק פעילותו בכל עת, וללא הודעה מוקדמת, ואין התחייבות כלשהי לזמינות האתר.
        </p>
        <p>
          4.9. &nbsp; &nbsp;הנך מתחייב למסור לאתר ולגולשים בו מידע נכון, ולא להטעות, להתחזות, להשמיץ, לפגוע בפרטיות, או
          לנהוג בניגוד לדין.
        </p>
        <p>
          4.10. &nbsp;האתר אינו אחראי לכך שהפניות יועברו לבית העסק או לאיש המקצוע במועד. מטרתו של השירות לסייע ביצירת
          קשר בלבד, ואין בו כדי להוות עצה, חוות דעת מקצועית, או תחליף להתייעצות עם מומחה ו/או איש מקצוע.
        </p>
        <p>5. &nbsp; &nbsp; &nbsp;&nbsp;מדיניות פרטיות</p>
        <p>
          5.1. &nbsp; &nbsp;מובהר בזאת כי האתר רשאי להשתמש בכל מידע שסופק על ידך או נאסף בעת שימושך באתר לצרכים שיווקיים
          ו/או מסחריים.
        </p>
        <p>
          5.2. &nbsp; &nbsp;הנך מצהיר ומסכים כי המידע שהנך מעלה או מפרסם באתר אינו סודי ואתה מעניק לאתר רישיון בלתי
          מוגבל ובלתי חוזר, לפי שיקול דעתו הבלעדי, לשנות את המידע, לפרסם המידע או לפעול בכל דרך אחרת מבלי להידרש להרשאתו
          של השולח ומבלי לשלם לרוכש ו/או למשתמש, לרבות לצורך שימוש מסחרי.
        </p>
        <p>
          5.3. &nbsp; &nbsp;הנך מאשר בזאת לאתר ו/או מי מטעמו לשלוח הצעות פרסומיות כאמור בסעיף 30א&apos; לחוק התקשורת
          (בזק ושידורים), תשמ&quot;ב &ndash; 1982 בנושאי האתר ובכל נושא אחר. אם אינך מעוניין במשלוח דברי פרסום אנא שלח
          הודעה לאתר באופן המפורט בהסכם זה.
        </p>
        <p>
          5.4. &nbsp; &nbsp;האתר יעביר כל מידע הנמסר לו לרשות המוסמכת על-פי חוק, ככל ויידרש או ככל ותוטל עליו חובה על-פי
          דין.
        </p>
        <p>
          5.5. &nbsp; &nbsp;הנך נותן בזאת לאתר אישור להחזיק את פרטיך במאגר האתר, לצורך משלוח הצעות שיווקיות עבור האתר
          ו/או אחרים. כמו כן, הנך מאשר בזאת לאתר לסחור במידע ולהעבירו לגורם שרכש המידע מן האתר, ובלבד שאותו גורם יפעל
          על-פי דין.
        </p>
        <p>
          5.6. &nbsp; &nbsp;בחירה בכפתור &quot;צור קשר&quot; ולאחריו מילוי פרטי הגולש הנדרשים (לרבות שם, דוא&quot;ל
          ומספר טלפון) בשדות הרלוונטיים תאפשר לאתר ליצור קשר ישיר עם המשתמש באמצעות הפרטים המוזכרים לעיל.
        </p>
        <p>6. &nbsp; &nbsp; &nbsp;&nbsp;הפורומים והמידע שבאתר</p>
        <p>
          6.1. &nbsp; &nbsp;האתר עלול לכלול פורומים אשר בהם יינתנו מעת לעת תשובות (להלן:&nbsp;&quot;הפורום&quot;). כך גם
          האתר עלול לפרסם מידע לרבות תמונות, סרטונים, קטעי קול קבצים ולינקים נוספים מעת לעת.
        </p>
        <p>
          6.2. &nbsp; &nbsp;אין בהימצאות פרסומים כאלו ואחרים, כתו תקן מטעם האתר כי בחן את הפרסום ו/או המידע ומקצועיותו,
          וכל המסתמך על דבריו, עושה זאת על אחריותו.
        </p>
        <p>
          6.3. &nbsp; &nbsp;כל מידע שיימסר או כל תוכן שיופיע בכל אחד מן הפורומים, אינו מהווה ייעוץ מקצועי, המלצה או חוות
          דעת כזו או אחרת. כלומר, האחריות על השימוש במידע שיימצא בפורום הוא על המשתמש בלבד.
        </p>
        <p>
          6.4. &nbsp; &nbsp;כל תוכן שיועלה לפורום או שיפורסם על ידי משתמש באתר יהיה חשוף לצפיות הציבור הרחב ברשת
          האינטרנט ובכלל, והאתר לא יישא באחריות על ציבור הצופים ו/או כל תוצאה או נזק שייגרם מהצפייה, לרבות תגובות
          פוגעניות, תביעות משפטיות ועוד.&nbsp;
        </p>
        <p>
          6.5. &nbsp; &nbsp;כל שינוי, תיקון, נזק, השמטה שייגרם לתוכן כזה או אחר אשר יועלה לפורום או למקום אחר באתר על
          ידי משתמש, אינו באחריות האתר או מי מטעמו אלא על אחריות הגולש/מפרסם בלבד.
        </p>
        <p>6.6. &nbsp; &nbsp;האתר שומר לעצמו הזכות לשנות הפורמט לרבות הגבלת מסרים וכל פעולה כזו או אחרת.</p>
        <p>6.7. &nbsp; &nbsp;אין האתר מתחייב לאמינות, לדיוק ולנכונות התכנים המפורסמים בפורומים.</p>
        <p>
          6.8. &nbsp; &nbsp;האתר לא יישא בכל נזק אשר יהא כתוצאה משימוש במידע המוצג בפורומים, לרבות נזק כספי, נזק נפשי,
          נזק רפואי, הוצאות או כל נזק אחר.
        </p>
        <p>7. &nbsp; &nbsp; &nbsp;&nbsp;אופן התשלום ואישור רכישה</p>
        <p>
          7.1. &nbsp; &nbsp;השירות באתר ניתן בתשלום דמי חבר חודשיים על סך של 65 &nbsp;שקלים לחודש ו/או במחיר שיעודכן
          מפעם לפעם במקום מובלט באתר ו/או בהודעות למשתמש.
        </p>
        <p>
          7.2. &nbsp; &nbsp;התשלום יכול להתבצע באמצעות כרטיס אשראי מסוג ויזה, ישראכארט, מאסטר קארד ודיינרס וכן באמצעות
          אמצעי תשלום אחרים ככל שאלו יפורסמו באתר מעת לעת.
        </p>
        <p>
          7.3. &nbsp; &nbsp;הנך מתחייב להשתמש באמצעי התשלום על-פי דין, ובהתאם להוראות בעל אמצעי התשלום, ו/או מנפק אמצעי
          התשלום.
        </p>
        <p>
          7.4. &nbsp; &nbsp;לאחר מתן אישור לרכישת המוצרים יתבצע חיוב ויישלח אישור רכישה לכתובת דואר אלקטרוני שהזין הרוכש
          בעת הזמנת המוצרים ויכלול את פרטי ההזמנה (להלן: &quot;אישור הרכישה&quot;).
        </p>
        <p>7.5. &nbsp; &nbsp;הרוכש מתחייב למסור פרטים מדויקים אודותיו ואודות אמצעי התשלום.</p>
        <p>7.6. &nbsp; &nbsp;הרוכש מתחייב לשאת בכל התשלומים המוטלים עליו על פי המחיר המופיע באתר.</p>
        <p>7.7. &nbsp; &nbsp;רישומי האתר יהוו ראיה לכאורה לביצוע רכישה על ידך.</p>
        <p>
          7.8. &nbsp; &nbsp;הנך מתחייב לשמור על הסיסמא ושם המשתמש שלך, ומובהר כי פעילות שכללה הקשת סיסמא תחייב אותך.
        </p>
        <p>7.9. &nbsp; &nbsp;לאתר שמורה האפשרות לאשר עסקאות מסוימות על פי שיקול דעתו.</p>
        <p>8. &nbsp; &nbsp; &nbsp;&nbsp;ביטול רכישה</p>
        <p>
          8.1. &nbsp; &nbsp;אנו מאפשרים לרוכשים לבטל את הרכישה על-פי הוראות סעיף 14 ג ל<a
            href="http://www.tamas.gov.il/NR/exeres/0A39578F-DAEB-4357-8565-157CA6B84C4F.htm"
            >חוק הגנת הצרכן</a
          >
          הביטול יתבצע בהתראה של עד חודש מיום הביטול.
        </p>
        <p>דהיינו:</p>
        <p>&nbsp;בעסקת מכר מרחוק רשאי הצרכן לבטל בכתב את העסקה &ndash;</p>
        <p>
          (1) &nbsp; בנכס - מיום עשיית העסקה ועד ארבעה עשר ימים מיום קבלת הנכס, או מיום קבלת המסמך המכיל את הפרטים
          האמורים בסעיף קטן (ב), לפי המאוחר מביניהם;
        </p>
        <p>
          (2) &nbsp; בשירות - בתוך ארבעה עשר ימים מיום עשיית העסקה או מיום קבלת המסמך המכיל את הפרטים האמורים בסעיף קטן
          (ב), לפי המאוחר, כמפורט להלן: בעסקה מתמשכת &ndash; בין אם הוחל במתן השירות ובין אם לאו, ובעסקה שאינה עסקה
          מתמשכת &ndash; בתנאי שביטול כאמור ייעשה לפחות שני ימים, שאינם ימי מנוחה, קודם למועד שבו אמור השירות להינתן
        </p>
        <p>הוראות סעיף קטן (ג) לא יחולו על עסקת מכר מרחוק של &ndash;</p>
        <p>(1) &nbsp; טובין פסידים;</p>
        <p>
          (2) &nbsp; שירותי הארחה, נסיעה, חופש או בילוי, אם מועד ביטול העסקה חל בתוך שבעה ימים שאינם ימי מנוחה, קודם
          למועד שבו אמור השירות להינתן;
        </p>
        <p>(3) &nbsp; מידע כהגדרתו בחוק המחשבים, תשנ&quot;ה-1995;</p>
        <p>(4) &nbsp; טובין שיוצרו במיוחד בעבור הצרכן בעקבות העסקה;</p>
        <p>(5) &nbsp; טובין הניתנים להקלטה, לשעתוק או לשכפול, שהצרכן פתח את אריזתם המקורית.</p>
        <p>8.2. &nbsp; &nbsp;האמור לעיל ניתן למען הסר ספק, ואין בו כדי להוות ייעוץ משפטי.</p>
        <p>
          8.3. &nbsp; &nbsp;על אף האמור לעיל, מובהר כי האתר נושא בעלות סליקת כרטיסי האשראי של העסקה, בכל מקרה של ביטול
          לא ישיב האתר את העלות שנשא בה עבור העסקה, העומדת בקירוב על כ- 1% מסכום עסקת האשראי.
        </p>
        <p>9. &nbsp; &nbsp; &nbsp;&nbsp;עדכון תנאי ההתקשרות</p>
        <p>
          9.1. &nbsp; &nbsp;האתר שומר לעצמו את הזכות לעדכן מעת לעת את התנאים האמורים לעיל, לפי שיקול דעתו הבלעדי, ומבלי
          ליתן הודעה מראש.
        </p>
        <p>9.2. &nbsp; &nbsp;כל שינוי יחייב ממועד פרסומו באתר.</p>
        <p>10. &nbsp;&nbsp;שיפוי</p>
        <p>
          10.1. &nbsp;הנך מתחייב לשפות את האתר, עובדיו, מנהליו ומי מטעמו בגין כל טענה, תביעה, נזק, הפסד, אבדן רווח,
          תשלום או הוצאה שיגרמו לה, לרבות שכר טרחת עו&quot;ד והוצאות משפט, עקב הפרתך את תנאי שימוש אלו.
        </p>
        <p>
          10.2. &nbsp;כל שכן, במידה ותפר את תנאי השימוש אלו, יהא האתר זכאי לחשוף את שמך ואת פרטיך הידועים לו אודותיך בכל
          הליך משפטי ובכלל, אף אם לא יינתן צו שיפוטי המורה על כך.
        </p>
        <p>11. &nbsp;&nbsp;מקום השיפוט</p>
        <p>
          11.1. &nbsp; כל מחלוקת בין הגולש/משתמש/רוכש תידון בבית המשפט המוסמך במחוז תל אביב בלבד, לפי הדין הישראלי בלבד.
        </p>
        <p>12. &nbsp;&nbsp;הודעות לאתר והמצאת מסמכים משפטיים</p>
        <p>
          12.1. &nbsp; כל הודעה לאתר ו/או המצאת מסמכים משפטיים לאתר ייחשבו כאילו נמסרו, אך ורק בתוך 7 ימי עסקים מעת
          משלוחם בדואר רשום עם אישור מסירה לארגון אשר מקום מושבו ברחוב ברנר 5 תל אביב
        </p>
        <p>
          12.2. &nbsp;המצאת מסמכים בדואר רשום או הדבקה על דלת הכניסה בכתובתו הרשומה בתעודת הזהות של הגולש ו/או הקונה
          תהווה המצאה כדין, אף אם הנמען אינו מתגורר באופן קבע בכתובת זו.
        </p>
        <p>
          12.3. &nbsp;דבר דואר או מסמך משפטי שישלח לכתובתו של הנמען הרשומה בתעודת הזהות שלו תחשב כהמצאה כדין בתוך 7 ימי
          עסקים מן המשלוח.
        </p>
      </section>
    </div>
  </div>
  <!--inner_wrapper-->
</div>
