.newsletter article a {
  padding: 7px 10px;
  border: solid 1px #000;
}
.newsletter .form-check input#flexCheckDefault {
  margin: 1px 5px 0 0 !important;
}

.footer_chat_button {
  position: fixed;
  cursor: pointer;
  bottom: 5px;
  right: 0;
}
