.logo {
  width: 100px;
}

q {
  font-style: italic;
  font-size: 1.2rem;
  quotes: "« " " »";
}

.video_screen {
  cursor: pointer;
}

.hw_content a {
  cursor: pointer;
}
.bottom_links {
  flex-wrap: wrap;
}
