input#email {
  margin: auto;
}
.login_wrapper section article {
  max-width: 540px;
  margin: auto;
  display: block !important;
  align-items: center;
  justify-content: center;
}
.email_notfctn {
  width: 50%;
  margin-left: 141px;
}
